<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <!-- 商品详情 -->
    <section id="product" ng-controller="bijiaController">
        <!-- 分类标题区域 -->
        <div class="category-title">
            <ol class="breadcrumb">
                <li><a href="#/">首页</a></li>
                <li><a href="#/category">全部分类</a></li>
                <li ng-repeat="category in categoryes">{{category.category}}</li>
            </ol>
            <a href="#" class="btn btn-default">筛选</a>
        </div>
        <div class="product-info">
            <div class="product-bijia">
                <div class="product-name">
                    <!-- 乐视TV(Letv)S50 Air全配版2D 50英寸 全高清LED液晶电视 -->
                    {{product.productName}}
                </div>
                <div class="product-img" ng-bind-html="product.productImg">
                    <!-- <img src="http://pro.zuyushop.com:8015/ProPic/20166/Thumb/Thumb_2016060015515937123.png" alt="乐视TV(Letv)S50 Air全配版2D 50英寸 全高清LED液晶电视" width="170"> -->
                </div>
                <div class="product-collect">
                    <a href="javascript:setfav(473088);">
                        <img src="http://www.zuyushop.com/wap/images/sc.jpg" width="39" height="39"></a>
                </div>
            </div>
            <div class="tab">
                <ul>
                    <li class="cur col-xs-4"><a href="#">比价购买</a></li>
                    <li class="mtab col-xs-4">
                        <a href="#">产品参数</a></li>
                    <li class="col-xs-4"><a href="#" class="">评价(2322)</a></li>
                </ul>
            </div>
            <div class="plist">
                <a href="redirect.aspx?webid=1&amp;bjid=76069915&amp;tourl=http://item.jd.com/1162187.html&amp;y=bijia" target="_blank" onclick="trackLog('商品购买','比价页面');" ng-bind-html="product.bjShop">
                    <!-- bjShop -->
                </a>
                <div class="note">
                    * 实际价格以各网站列出的实时售价为准，我们提供的价格可能有数小时至数日的延迟。
                </div>
            </div>
            <div class="product-com-title">
                <div>网友评价</div>
            </div>
            <div class="product-com-list">
                <ul>
                    <li ng-repeat="productcom in productcoms">
                        <div class="clearfix"> <span class="pull-left com-name">{{productcom.comName}}             </span>
                            <span class="pull-right com-time">{{productcom.comTime}}               </span></div>
                        <div class="clearfix"> <span class="star pull-left com-star"><em class="star5"></em></span> <span class="pull-right com-from">                   {{productcom.comFrom}}                </span></div>
                        <div class="com-content">{{productcom.comContent}}</div>
                    </li>
                </ul>
                <div class="more">
                    <a class="morein" href="comment.aspx?id=473088">查看更多评价</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
