<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <!-- 商品列表 -->
    <section id="productList" ng-controller="productlistController">
        <!-- 分类标题区域 -->
        <div class="category-title">
            <ol class="breadcrumb">
                <li><a href="#/">首页</a></li>
                <li><a href="#/category">全部分类</a></li>
                <li ng-repeat="category in categoryes">{{category.category}}</li>
            </ol>
            <a href="#" class="btn btn-default">筛选</a>
        </div>
        <!-- 主体商品区域 -->
        <div class="product-list">
            <div class="media" ng-repeat="productlist in productlists">
                <a class="media-left" 
                href="#/bijia/{{productlist.categoryId}}/{{productlist.productId}}" ng-bind-html="productlist.productImg">
                </a>
                <div class="media-body">
                    <h5><a href="#/bijia/{{productlist.categoryId}}/{{productlist.productId}}">{{productlist.productName}}</a></h5>
                    <p class="price">{{productlist.productPrice}}</p>
                    <em>{{productlist.productQuote}}</em><em>{{productlist.productCom}}</em>
                </div>
            </div>
            <!--  <div class="media">
                <a class="media-left" href="#">
                    <img src="http://img2014.zuyushop.com/ProPic/201412/Thumb/Thumb_2014120015214690353.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h5>奥克斯(AUX) KFR-25GW/FK01+3 1匹 挂壁式定速冷暖空调</h5>
                    <p class="price">￥1499.00</p>
                    <em>报价(4)</em><em>评论(2403)</em>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img src="http://img2014.zuyushop.com/ProPic/201412/Thumb/Thumb_2014120015214690353.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h5>奥克斯(AUX) KFR-25GW/FK01+3 1匹 挂壁式定速冷暖空调</h5>
                    <p class="price">￥1499.00</p>
                    <em>报价(4)</em><em>评论(2403)</em>
                </div>
            </div>
            <div class="media">
                <a class="media-left" href="#">
                    <img src="http://img2014.zuyushop.com/ProPic/201412/Thumb/Thumb_2014120015214690353.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h5>奥克斯(AUX) KFR-25GW/FK01+3 1匹 挂壁式定速冷暖空调</h5>
                    <p class="price">￥1499.00</p>
                    <em>报价(4)</em><em>评论(2403)</em>
                </div>
            </div> -->
        </div>
        <!-- 商品的操作  上一页下一页-->
        <div class="prodocut-option clearfix">
            <!-- <input type="button" value="上一页" class="btn btn-default pull-left"> -->
            <a href="#/productlist/{{categoryId}}/{{pageid-1}}" class="btn btn-default page-prev">上一页</a>
            <a href="#/productlist/{{categoryId}}/{{pageid-0+1}}" class="btn btn-default page-next">下一页</a>
            <!-- <input type="button" value="下一页" class="btn btn-default pull-right"> -->
            <div class="dropdown">
                <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        第{{pageid}}页
                        <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li ng-repeat="page in pages"><a href="#/productlist/{{categoryId}}/{{page}}">第{{page}}页</a></li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>
